node_modules/

# ------ Custom: Python ------ #
__pycache__

# ------ Custom: Visual Studio Code ----- #
.vscode

# ------ Custom. PyCharm ------ #
.idea

# ----- Custom: Modules ------ #
**/.google-cookie